body {
		background: #E6E6E6;
		padding-top: 51px;
	}
	/* Navbar*/
	.navbar-header {
		padding-left: 40px;
	}
  #miNav .navbar-nav li {
    margin-left: 20px;
  }
  .breadcrumb li {
    margin-left: 20px;
  }

	.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}
.navbar-inverse .navbar-brand {
  color: #FFFFFF;
  
}
.navbar-inverse .navbar-brand:hover
 {
  color: #FFF;
  background-color: #3671B2;
}
.navbar-inverse .navbar-text {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a {
  color: #F7E9E9;
}
.navbar-inverse .navbar-nav > li > a:hover
{
  color: #FFF;
  background-color: #3671B2;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: #3671B2;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #908787;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #9d9d9d;
}
.navbar-inverse .navbar-link:hover {
  color: #fff;
}
.navbar-inverse .btn-link {
  color: #9d9d9d;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #fff;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444;
}

/*Jumbotron*/
.jumbotron{
  background: url("../img/header3.jpg") no-repeat;
	color:#fff;
	padding: 50px 10px;
  /*height: 375px;*/
  background-size: cover;
}
.jumbotron h1,p{
	
	
}
..jumbotron div .list-inline{
  padding-left: 400px;
}
.jumbotron div .list-inline li a img{
  width:45px;
  height: 45px;
}
.jumbotron div .list-inline li a img:hover{
  height: 70px;
  width: 70px;
  transition: width .3s, height .3s;
  -moz-transition: width .3s, height .3s;
  -o-transition: width .3s, height .3s;
  -webkit-transition: width .3s, height .3s;
  -ms-transition: width .3s, height .3s;

}

/*Footer*/
footer {
  background-color: #000;
  color:#FFFFFF;
}
footer .list-unstyled li a:link, footer .list-unstyled li a:visited {
  color:#FFF;
  
}
footer .list-unstyled li a:hover {
  text-decoration: none;
  background: #FFF;
  color: #000;
}

/*Articulos*/

.articulos {

}
.articulo {

}
.art-fecha{
  padding: 10px;
}
.art-contenido {
  padding: 0 10px;
  font-family: 'PT Sans Caption', sans-serif;
  font-size:16px;
  text-indent: 40px;
  
}
.art-info {
  padding: 0 10px;
  color: #000;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 16px;
  text-indent: 40px;
}
.art-titulo, .art-fecha, .art-tituloi {
  font-family: 'Doppio One', sans-serif;
}

/* seleccion*/
*::selection {
  color:#fff;
  background: #15D9D8;
}

*::-moz-selection {
  color:#fff;
  background:#15D9D8;
}
.navbar-brand, .jumbotron, footer .container h3 {
  font-family: 'Audiowide', cursive;
  text-shadow: 3px 9px #000000;

}
#miNav ul li a, footer a, .breadcrumb li a {
  font-family: 'Doppio One', sans-serif;
}


